<button onclick="start_tracking()">Actively track values</button>
<button onclick="stop_tracking()">Stop tracking</button>
<button onclick="put_values_in_article()">Enter values</button>

<div id="values">
    <p id="orientation"></p>
    <p id="accelerometer_x"></p>
    <p id="accelerometer_y"></p>
    <p id="accelerometer_z"></p>
    <p id="gyroscope_alpha"></p>
    <p id="gyroscope_beta"></p>
    <p id="gyroscope_gamma"></p>
</div>



<%= form_for :article, url: articles_path do |f| %>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :text %><br>
        <%= f.text_area :text %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>





<%= link_to 'Back' , articles_path %>


<h1>Listing articles</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
        <th colspan="2"></th>
    </tr>
    
    <% @articlelist.each do |article| %>

    <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article_path(article),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>

    </tr>
<% end %>
</table>

